/* app global css */

a {
  text-decoration: none;
  color: inherit;
}

.text-underline {
  text-decoration: underline;
}

.q-checkbox__inner.relative-position.non-selectable.q-checkbox__inner--truthy {
  color: currentColor !important;
}

.value-field .q-field__control {
  padding-top: 10px !important;
}
